@font-face {
    font-family: "Tourney-Italic";
    src: url("Tourney_Expanded-Light.ttf");
}

@font-face {
    font-family: "Tourney_SemiCondensed-Black";
    src: url("Tourney_SemiCondensed-Black.ttf");
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Tourney_SemiCondensed-Black";
}

button {
    font-family: "Tourney_SemiCondensed-Black";
}

header,
footer {
    padding: 50px;
    background-color: rgb(6, 6, 105);
    color: aliceblue;
    font-family: "Tourney-Italic";
}

header > h1 {
    margin: 0;
    font-size: 80px;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: black;
    opacity: .5;
    position: fixed;
    z-index: 2;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
}

.overlayHalf {
    background-color: black;
    opacity: .5;
    position: fixed;
    z-index: 2;
    height: inherit;
    width: inherit;
}

.ngDiv {
    border: none;
    border-radius: 5px;
    position: absolute;
    z-index: 3;
    max-width: 400px;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ngh1 {
    font-size: 50px;
}

.vsText {
    font-size: 40px;
}

.pvpButton,
.pveButton {
    padding: 20px;
    font-size: 35px;
    border-radius: 5px;
    border: none;
}

.pvpButton:hover,
.pveButton:hover {
    color: white;
    background-color: rgb(6, 6, 105);
}

.idp {
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.giDiv {
    padding: 40px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pvpForm,
.pveForm {
    width: max-content;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.p1Div,
.p2Div {
    display: flex;
    gap: 30px;
}

input {
    font-family: "Tourney_SemiCondensed-Black";
    background-color: rgb(239, 239, 239);
    border: none;
    border-radius: 5px;
    width: 200px;
    font-size: 32px;
}

.pvpSubmit,
.pveSubmit {
    padding: 15px;
    font-size: 28px;
    border-radius: 5px;
    border: none;
}

.pvpSubmit:hover,
.pveSubmit:hover {
    background-color: rgb(6, 6, 105);
    color: white;
}

/* used to hide things */

.hide {
    display: none;
}

/* prep divs */

.prepParent {
    position: absolute;
    z-index: 3;
    display: flex;
    gap: 40px;
    align-items: center;
}

.prepDiv {
    padding: 40px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.prepH1 {
    margin-bottom: 10px;
}

.p_mess {
    margin-top: 0;
    margin-bottom: 10px;
}

.placementDiv {
    display: flex;
    justify-content: space-evenly;
}

.prepGrid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 5px;

}

.prepBox {
    height: 30px;
    width: 30px;
    background-color: grey;
}

.prepBox:hover {
    border: solid;
    border-width: 2px;
    border-color: orange;
}

.p_right {
    width: 207px;
}

.shipsH2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.oriH3_1,
.oriH3_2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.rtButton {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

.rtButton:hover {
    background-color: rgb(6, 6, 105);
    color: white;
}

.shipsDiv {
    padding-top: 15px;
}

.shipSelector {
    background-color: rgb(239, 239, 239);
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
    padding: 6px;
}

.selected {
    background-color: rgb(6, 6, 105);
    color: white;
}

.prepSB {
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

.prepSB:hover {
    color: white;
    background-color: rgb(6, 6, 105);
}

/* game section */

.gs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
}

.gsRight {
    position: relative;
}

.gsLeft {
    position: relative;
}

.overlayHalf {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.gsMessage {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

.scores {
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
}

.pscoreboard1,
.pscoreboard2 {
    margin: 15px;
    text-align: center;
}

.boardContainer {
    display: flex;
    gap: 70px;
}

#p1Board,
#p2Board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 5px;
}

.box {
    height: 50px;
    width: 50px;
    background-color: grey;
}

.box:hover {
    background-color: yellow;
}

footer {
    min-height: 92px;
}